{% extends "base.html" %}

{% block body %}
    <div id="translateform">
        <form method="get" action="">
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input type="submit" id='translatesubmit' value="&rarr; Translate" />
        </form>
        {% if form.errors %}
            <p>There were some errors with your submission</p>
            {{ form.errors }}
        {% endif %}
    </div>
    {% if results %}
    <section id="results">
        {% for vcs, result in results.items %}
            <section class="result {{ result.success|yesno:'success,failure'}}" id="{{vcs}}">
            <h1>{{vcs}}{% if not result.success %}?{% endif %}</h1>
                {% if result.success %}
                    <code>
                        $ {{ result.result }}
                    </code>
                    <p class="feedback"><a href="{% url translation_feedback %}">Report a bug &rarr;</a></p>
                {% else %}
                    <p>{{ result.result }}</p>
                    <p>If you have a suggestion for how this should be translated, <a href="{% url translation_feedback %}">let us know!</a>
                {% endif %}
            </section>
        {% endfor %}


        </section>
    {% endif %}
    <p><a href="{% url translation_help %}">Interested in helping out?</a></p>
{% endblock body %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
{% endblock extra_js %}
