{% extends "base.html" %}

{% block body %}
    <div id="translateform">
        <form method="get" action="">
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input type="submit" id='translatesubmit' value="Translate" />
        </form>
        {% if form.errors %}
            <p>There were some errors with your submission</p>
            {{ form.errors }}
        {% endif %}
    </div>
    {% if results %}
    <section id="results">
        {% for vcs, result in results.items %}
        <article class="result {{ result.success|yesno:'success,failure'}}" id="{{vcs}}">
        <h1 class="{{vcs}}">{{vcs}}{% if not result.success %}?{% endif %}</h1>
            <div class="resultbody">
                {% if result.success %}
                <code>
                    $ {{ result.result }}
                </code>
                <p class="feedback"><a href="{% url translation_feedback %}">Report a bug</a></p>
                {% else %}
                <p>No translation available. <a href="{% url translation_feedback %}">Submit one!</a>
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}
    <p><a href="{% url translation_help %}">Interested in helping out?</a></p>
{% endblock body %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
{% endblock extra_js %}
