{% extends "base.html" %}

{% block body %}
    <div id="translateform">
        <form method="get" action="">
            {{ form.command.label_tag }}
            {{ form.command }}
            <input type="submit" id='translatesubmit' value="Translate" />
        </form>
        {% if form.errors %}
            <p>There were some errors with your submission</p>
            {{ form.errors }}
        {% endif %}
    </div>
    {% if results %}
    <section id="results">
        {% for vcs, result in results.items %}
        <article class="result {{ result.success|yesno:'success,failure'}}" id="{{vcs}}">
        <h1 class="{{vcs}}">{{vcs}}{% if not result.success %}?{% endif %}</h1>
        <div class="resultbody">
            {% if result.success %}
            <code>
                $ {{ result.result }}
            </code>
            {% else %}
            <p>No translation available. <a href="{% url translation_feedback %}">Submit one!</a>
            {% endif %}
        </div>
        {% if result.success %}
            <p class="feedback"><a href="{% url translation_feedback %}">Report?</a></p>
        {% endif %}
        </article>
        {% endfor %}
    </section>
    {% endif %}
    <p><a href="{% url translation_help %}">Interested in helping out?</a></p>
{% endblock body %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.labelify.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        var labelClass= 'labelled';
        var placeholderText = function(input) {return "command (e.g. svn commit)…";}
        
        $("#id_command").labelify({
            labelledClass: labelClass,
            text: placeholderText
        });
    });
    </script>
{% endblock extra_js %}
