/* Less Framework 3
 * by Joni Korpi
 * http://lessframework.com */

@import "partials/base";
@import "lessframework/reset";
@import "lessframework/text/15";
@import "partials/webfonts";

h1 {
    @include huge;
}

h2 {
    @include large;
}

h3 {
    @include big;
}

html {
    background-color: $background;
    -webkit-tap-highlight-color: rgb(255, 255, 0);
}

a {
    color: $red;
    @include transition;
}

a:hover {
    color: darken($red, 30%);
    @include transition;
}

body {
    @include serif;
    margin: 0 auto;

    &>header {
        h1 {
            a {
                text-decoration: none;
                color: $chocolate;
                @include text-shadow($background 1px 1px 0px, transparentize($chocolate, 0.8) 2px 2px 0px);
                @include transition-property('color');
            }
        }
    }

    &>footer {
        border-top: darken($background, 5%) 1px solid;
        padding-top: 23px;
        margin-top: 48px;
        @include normal;
        color: darken($background, 20%);

        a {
            color: $chocolate;
        }
    }
}

#translateform {
    margin: 48px 0 24px;
    width: 100%;
    @include clearfix;

    #id_command {
        @include serif;
        display: block;
        float: left;
        width: 470px; // 6 cols - padding
        padding: 5px;
        height: 37px;
        line-height: 37px;
        border: 0;
        border-bottom: 1px dashed $background;
        font-size: 24px;
        background: darken($background, 10%);
        color: $chocolate;
        outline: none;
        -webkit-appearance: none;
        @include transition;
        @include box-shadow(darken($background, 20%), 0, 0, 6px, 0, true);

        &:focus {
            background-color: lighten($background, 5%);
            @include box-shadow(white, 0, 0, 6px, 0, true);
        }
    }




    #translatesubmit {
        @include serif;
        display: block;
        float: left;
        width: 168px;
        padding: 5px;
        height: 48px;
        line-height: 37px;
        border: 0;
        border-bottom: 1px dashed $background;
        border-left: 1px solid $background;
        font-size: 24px;
        color: $chocolate;
        text-transform: lowercase;
        font-variant: small-caps;
        letter-spacing: 1px;
        background: darken($background, 20%);
        -webkit-appearance: none;
        @include transition;
        @include transition-property('color,background');

        &:hover {
            background-color: $blue;
            color: white;
        }
    }
}

.result {
    margin-bottom: 24px;
    padding: 0 0 24px 0;
    code {
        background-color: lighten($background, 5%);
        display: block;
        margin: 12px 0;
    }

    .feedback {
        color: #444;
        @include small;
    }

    h1 {
        @include large;
        @include sans;
        text-transform: uppercase;
        letter-spacing: 1px;
    }


    &.success>h1 {
        color: $red;
    }

    &.failure>h1 {
        color: #666;
    }

}

@import "partials/8";
@import "partials/13";
@import "partials/5";
@import "partials/3";
@import "partials/iphone4";
