<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}The VCS Translator{% endblock title %}</title>
        <meta name="description" content="{% block description %}The VCS Translator{% endblock description %}">
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        {% block css %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" />
        <!--[if IE]>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" media="screen, projection">
        <![endif]-->
        {% endblock css %}
        <script src="{{ MEDIA_URL }}js/modernizr-1.6.min.js"></script>
        {% block jquery %}
        <!--
        I know, it's a sin, but this site can live with the sin of loading
        jQuery early in the name of pretty webfont loading.
        -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"><\/script>')</script>
        {% endblock jquery %}
        {% block googlefont %}{% include "_googlefontdir.html" %}{% endblock googlefont %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body {% block extra_body %}{% endblock extra_body %}>
        <header>
            <h1><a href="{% url home %}">The VCS Translator</a></h1>
        </header>
    {% if messages %}
    <section class="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% block body %}{% endblock body %}
    <footer>
        Built by <a href="http://alexgaynor.net">Alex Gaynor</a>. All rights reserved, &copy; 2011.
        <a href="https://github.com/alex/vcs-translator">Get the code.</a>
    </footer>
    <!--[if lt IE 7 ]>
    <script src="{{ MEDIA_URL }}js/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
    {% block extra_js %}{% endblock extra_js %}
    {% include "_analytics.html" %}
</body>
</html>
