/* 3-column layout
 * For all iPhones, iPod Touches, and other 320 px mobiles. */

@media only screen and (max-width: 479px) {
    body {
        @include grid(3);
        @include mobile-safari;

        &>header {
            h1 {
                font-size: 24px;
            }
        }
    }

        #translateform {
        margin: 24px 0 24px;

        #id_command {
            font-size: 16px;
            padding: 2px 5px;
            line-height: 19px;
            height: 19px;
            width: 134px;
            @include border-radius(none);
            -webkit-appearance: none;
        }

        #translatesubmit {
            font-size: 16px;
            padding: 0 5px;
            line-height: 19px;
            height: 24px;
            letter-spacing: none;
            width: 84px;
        }
    }
    
    .result {
        h1 {
            @include border-radius(15px 15px 0 0);
            width: 100%;
            margin-bottom: 0;
            float: none;
            height: 36px;
            line-height: 36px;
        }

        &.success>h1 {
            @include box-shadow(none);
        }


        .resultbody {
            width: 100%;
            float: none;
        }

        &.failure p {
            @include border-radius(0 0 15px 15px);
            text-align: center;
            min-height: 40px;
            line-height: 40px
        }

        code {
            @include border-radius(0 0 15px 15px);
        }
        
        .feedback {
            top: 10px;
            
            a {
                padding: 0;
                color: #eee;
                color: rgba(255,255,255,0.9);
                background: none;
            }
        }
    }
}
