/* 5-column layout
 * For 480 px mobiles, narrow browsers, and landscape iPhones. */

@media only screen and (max-width: 767px) and (min-width: 480px) {
    body {
        @include grid(5);
        @include mobile-safari;

        &>header {
            h1 {
                @include large;
            }
        }
    }

    #translateform {
        margin: 24px 0 24px;

        #id_command {
            width: 218px;
        }
    }

    .result {
        h1 {
            @include border-radius(10px 10px 0 0);
            width: 100%;
            margin-bottom: 0;
            float: none;
            height: 36px;
            line-height: 36px;
        }

        &.success>h1 {
            @include box-shadow(none);
        }


        .resultbody {
            width: 100%;
            float: none;
        }

        &.failure p {
            @include border-radius(0 0 10px 10px);
            text-align: center;
            min-height: 40px;
            line-height: 40px
        }

        code {
            @include border-radius(0 0 10px 10px);
        }

        .feedback {
            top: 10px;
            
            a {
                padding: 0;
                color: #eee;
                color: rgba(255,255,255,0.9);
                background: none;
            }
        }
    }
}
