// compass defaults
$default-transition-duration: 0.5s;

// less framework defaults
$less-column-width: 60px;
$less-gutter-width: 24px;
$less-font-family: Copse, Georgia, serif;

// site defaults
$background: #EFEADC;
$red: #E84193;
$green: #A1EA5B;
$blue: #74B4ED;
$chocolate: #3D1812;
$eggplant: darken($red, 30%);


@import "lessframework/grid";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@mixin serif {
    font-family: Copse, Georgia, serif;
}

@mixin sans {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
}

@mixin monospace {
    font-family: Inconsolata, Consolas, monospace;
}
